/**
* el-dropdown
**/

// .el-popper .popper__arrow::after {
//   content: none;
// }
// .el-popper .popper__arrow {
//   border: 0;
// }
.el-dropdown-menu {
  border: none;
  color: #666;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 60px !important;
  width: 148px;
  right: 20px;
  overflow: hidden;
}
.el-dropdown-menu--small .el-dropdown-menu__item,
.el-dropdown-menu__item {
  width: 148px;
  padding: 0;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid $color-line-3;
  border-radius: 3px;
}

.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #e6f4fb;
  color: #666;
}

/**
* el-notify
**/

.el-notification {
  width: 400px;
}
.el-notification__icon {
  margin-top: 5px;
}

/**
* el-notify
**/

// .el-message-box__header {
//   display: none;
// }
.el-message-box--center {
  padding-bottom: 0!important;
}
.el-message-box__content {
  padding: 0 15px;
}
.el-message-box__btns {
  padding: 20px 15px 0;
}
.el-message-box__btns .el-button--default {
  width: 77px;
  height: 28px;
  padding: 0 15px;
  color: $color-text-8 !important;
  border: 1px solid $color-border-1 !important;
}
.el-message-box__btns .el-button--primary {
  color: $color-text-5 !important;
  background: $color-danger !important;
  border: 1px solid $color-danger !important;
  margin-bottom: 30px;
}

.el-message-box__btns .I-Know {
  color: $color-text-5 !important;
  background: $color-primary !important;
  border: 1px solid $color-primary !important;
  margin-bottom: 30px;
}

/**
* el-form
**/

.increase--box .el-form-item__label {
  color: $color-text-main;
}

.increase--box .el-select,
.increase--box .el-date-editor {
  width: 100% !important;
}

.el-select,
.el-date-editor {
  width: 100% !important;
}
/**
* el-input
**/

.el-input__inner,
.el-textarea__inner {
  background-color: $color-text-9 !important;
  border-radius: 3px;
}

.el-input__inner:hover,
.el-input__inner:focus,
.el-textarea__inner:hover,
.el-textarea__inner:focus {
  border-color: $color-primary !important;
}

.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus {
  border-color: $color-danger !important;
}

.el-input.is-disabled .el-input__inner {
  background-color: $color-bg-2 !important;
  border-color: $color-border-1 !important;
  color: $color-text-4 !important;
  cursor: not-allowed;
}

#case-manage-tree .el-select,
#case-manage-tree .el-input__icon,
#case-manage-tree .el-input__inner {
  padding: 0;
  height: 30px;
  line-height: 30px;
}

/**
* el-popover
**/

.el-popover.el-popper {
  // left: 1625px !important;
}

/**
* el-checkbox
**/

.el-checkbox__inner {
  border-color: $color-text-4 !important;
  background-color: $color-default-btn !important;
}
.el-checkbox__inner:hover,
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before,
.el-checkbox__input.is-checked .el-checkbox__inner::after,
.el-checkbox__input.is-indeterminate .el-checkbox__inner::after {
  border-color: $color-primary !important;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  border-color: $color-primary !important;
  background-color: $color-primary !important;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $color-primary !important;
}

.el-checkbox.is-disabled .el-checkbox__inner {
  border-color: $color-primary-disabled !important;
  background-color: $color-default-btn !important;
}

.el-checkbox.is-disabled .el-checkbox__inner:hover,
.el-checkbox.is-disabled .el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox.is-disabled .el-checkbox__input.is-indeterminate .el-checkbox__inner,
.el-checkbox.is-disabled .el-checkbox__input.is-indeterminate .el-checkbox__inner::before,
.el-checkbox.is-disabled .el-checkbox__input.is-checked .el-checkbox__inner::after,
.el-checkbox.is-disabled .el-checkbox__input.is-indeterminate .el-checkbox__inner::after {
  border-color: $color-primary-disabled !important;
}
.el-checkbox.is-disabled .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  border-color: $color-primary-disabled !important;
  background-color: $color-primary-disabled !important;
}
.el-checkbox.is-disabled .el-checkbox__input.is-checked + .el-checkbox__label {
  color: $color-primary-disabled !important;
}

.sz-advanced-query-checkout .el-checkbox,
.sz-advanced-query-checkout .el-checkbox__input,
.sz-advanced-query-checkout .el-checkbox__inner {
  width: 18px !important;
  height: 18px !important;
}
.sz-advanced-query-checkout .el-checkbox__inner::after {
  height: 11px;
  left: 7px;
}

/**
* el-table
**/

#sz-table {
  z-index: 99999;
}

#sz-advanced-query .el-table,
#sz-table .el-table {
  color: $color-text-main !important;
}

#sz-advanced-query .el-table th,
#sz-table .el-table th,
.el-table th {
  // border: 0 !important;
  background-color: $color-bg-2 !important;
}

#sz-table .el-table__expanded-cell .el-table td {
  // border: 0 !important;
  // background-color: $color-bg-2 !important;
}

#sz-table .el-table th:first-child > .cell,
#sz-table .el-table td:first-child > .cell,
#sz-table .el-table-column--selection > .cell {
  // padding-left: 0 !important;
}

#sz-table .el-table th:first-child > .cell,
#sz-table .el-table td:first-child > .cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-padding-left30#sz-table .el-table th:first-child > .cell,
.table-padding-left30#sz-table .el-table td:first-child > .cell,
.table-padding-left30#sz-table .el-table-column--selection > .cell {
  padding-left: 30px !important;
}

#sz-table .el-table__expanded-cell {
  padding: 0 !important;
}

#handover-book .el-table__expanded-cell .el-table__header-wrapper {
  height: 0;
}

#sz-table .el-table__expanded-cell .el-table {
  // padding-left: 110px !important;
}

#sz-table .el-table__expanded-cell .el-table th:first-child > .cell,
#sz-table .el-table__expanded-cell .el-table td:first-child > .cell {
  // padding-left: 30px !important;
}

#sz-table .el-table__expanded-cell .el-table th > .cell,
#sz-table .el-table__expanded-cell .el-table td > .cell {
  padding-left: 15px !important;
}

#case-manage-tree .el-table .cell {
  display: flex;
}

#sz-advanced-query th.el-table__cell,
.file-generic-table th.el-table__cell,
#sz-table th.el-table__cell {
  padding: 8px 0;
}

#sz-table td.el-table__cell {
  padding: 6px 0;
}

#audio-video-info th.el-table__cell {
  padding: 0;
}

#sz-advanced-query td.el-table__cell {
  padding: 0;
  height: 40px;
}

#sz-advanced-query td.el-table__cell .cell {
  height: 40px;
  line-height: 40px;
}

.sz-advanced-query td.el-table__cell .cell {
  padding: 0!important;
}

.file-generic-table .el-button,
#sz-tree-table .el-button,
#sz-advanced-query .delete-button--active.el-button,
#sz-table .el-button {
  color: $color-primary;
}

#sz-advanced-query .delete-button.el-button {
  color: $color-text-7;
}

// #sz-advanced-query-item

/**
* el-pagination
**/
#sz-table .el-pagination .el-pager,
#sz-table .el-pagination .el-pager li,
#sz-table .el-pagination .btn-prev,
#sz-table .el-pagination .btn-next,
#sz-table .el-pagination button:disabled {
  background-color: $color-text-9;
}

/**
* el-dialog
**/

#sz-advanced-query .el-dialog__header {
  border-bottom: 1px solid $color-line-2;
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.el-dialog__header {
  position: relative;
}

#sz-advanced-query .el-dialog__headerbtn {
  top: 15px;
  right: 15px;
  font-size: 24px;
}

#sz-advanced-query .el-dialog__body {
  padding: 18px 20px;
}

#sz-advanced-query .el-dialog__body .advanced-query--body {
  min-height: 340px;
}

#sz-advanced-query .el-dialog__footer {
  border-top: 1px solid $color-line-2;
  height: 68px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/**
* el-select
**/

.file-generic-table .el-select,
.file-generic-table .el-input,
.file-generic-table .el-input__inner {
  padding: 0;
}
.file-generic-table .el-input__prefix {
  display: none;
}
.file-generic-table .el-select,
.file-generic-table .el-input,
.file-generic-table .el-input__inner,
#sz-tree-table .el-select,
#sz-tree-table .el-input,
#sz-tree-table .el-input__inner,
#sz-advanced-query-item .el-select,
#sz-advanced-query-item .el-input,
#sz-advanced-query-item .el-input__inner {
  border: none;
  border-radius: 0px;
  width: 100%;
}

#sz-advanced-query-item .el-input__inner {
  padding-left: 10px;
}

#sz-advanced-query-item .el-select-dropdown {
  // border: none;
}

.el-select-dropdown__item.selected,
#sz-advanced-query-item .el-select-dropdown__item.selected {
  color: $color-primary!important;
}

#sz-advanced-query-item .el-select-dropdown__item.hover,
#sz-advanced-query-item .el-select-dropdown__item:hover {
  // background: unset !important;
}

/**
* el-cascader
**/

.el-cascader {
  width: 100%;
}

/**
* el-tabs
**/
.el-tabs__item.is-active,
.el-tabs__item:hover {
  color: $color-primary!important;
}

.el-tabs__active-bar{
  background-color: $color-primary!important;
}

.el-tabs__active-bar {
  background-color: $color-primary;
}

.tabs-none .el-tabs__header{
  margin: 0;
}

.tabs-none .el-tabs__nav-scroll {
  margin-left: 10px;
}

/**
* el-tree
**/

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  color: $color-primary;
}
