@font-face {
  font-family: 'iconfont-svg';  /* Project id 2800100 */
  src: url('//at.alicdn.com/t/font_2800100_jnn3ao8ma9.woff2?t=1631153686631') format('woff2'),
       url('//at.alicdn.com/t/font_2800100_jnn3ao8ma9.woff?t=1631153686631') format('woff'),
       url('//at.alicdn.com/t/font_2800100_jnn3ao8ma9.ttf?t=1631153686631') format('truetype');
}

.iconfont {
  font-family: 'iconfont-svg' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pluscircleyuanjiahao:before {
  font-family: 'iconfont-svg' !important;
  content: '\e6de';
}
