@font-face {
  font-family: 'iconfont-color'; /* Project id 2799928 */
  src: url('//at.alicdn.com/t/font_2799928_giu4mfdjhck.woff2?t=1631153938413') format('woff2'),
    url('//at.alicdn.com/t/font_2799928_giu4mfdjhck.woff?t=1631153938413') format('woff'),
    url('//at.alicdn.com/t/font_2799928_giu4mfdjhck.ttf?t=1631153938413') format('truetype');
}

.iconfont {
  font-family: 'iconfont-color' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.guilian-icon:before {
  font-family: 'iconfont-color' !important;
  content: '\e6cc';
}

.guilian:before {
  font-family: 'iconfont-color' !important;
  font-size: 24px;
  content: '\e6cc';
}

.happy-full:before {
  font-family: 'iconfont-color' !important;
  font-size: 24px;
  content: '\e9a9';
}
