@font-face {
  font-family: 'iconfont-color'; /* Project id 2799928 */
  src: url('//at.alicdn.com/t/font_2799928_im5zys4r4xb.woff2?t=1632362688359') format('woff2'),
    url('//at.alicdn.com/t/font_2799928_im5zys4r4xb.woff?t=1632362688359') format('woff'),
    url('//at.alicdn.com/t/font_2799928_im5zys4r4xb.ttf?t=1632362688359') format('truetype');
}

.iconfont {
  font-family: 'iconfont-color' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.guilian-icon:before {
  font-family: 'iconfont-color' !important;
  content: '\e6cc';
}

.guilian:before {
  font-family: 'iconfont-color' !important;
  font-size: 24px;
  content: '\e6cc';
}

.happy-full:before {
  font-family: 'iconfont-color' !important;
  font-size: 24px;
  content: '\e9a9';
}

.wenjianjiaweigongxiang:before {
  font-family: 'iconfont-color' !important;
  font-size: 20px;
  content: '\e65e';
}

.wenjian:before {
  font-family: 'iconfont-color' !important;
  font-size: 17px;
  content: '\e609';
}
