.increase--box {
  padding: 20px;
  font-size: 16px;
  background-color: $color-bg-4;
  border-radius: 6px;
  .increase--title {
    margin-top: 20px;
    .increase-title--text {
      text-align: center;
      line-height: 46px;
    }
  }
  .increase-content--box {
    margin-top: 17px;
    .increase-content--item {
      .content-title-btn {
        margin-bottom: 27px;
        cursor: pointer;
      }
      .content-width-percent {
        width: 88.7%;
      }
      .content--form {
        transition: all 1s;
        margin-bottom: 27px;
        .global-content-form-item-box {
          .position_left,
          .position_right {
            height: 274px;
          }
        }
      }
    }
  }
}
.increase-case {
  .increase-case-top--box,
  .table-list--box {
    background-color: $color-bg-4;
    border-radius: 6px;
  }
  .increase-case-top--box {
    height: 60px;
    padding-left: 30px;
    .top-btn--box {
      height: 100%;
      align-items: center;
    }
  }
  .table-list--box {
    padding-top: 20px;
  }
}
