// 主色
$color-primary: #1C9399;

// 辅助色
$color-info: #909399;
$color-success: #42c3af;
$color-warning: #ffc15e;
$color-danger: #fa675c;
$color-link: #31a4ff;

//按钮
$color-default-btn: rgba(255,255,255,0);
$color-primary-hover: #42B7BD;
$color-primary-click: #007980;
$color-primary-disabled: rgba(28,147,153,.4);
$color-warning-btn: #FAAD14;
$color-warning-hover: #FFC041;
$color-warning-click: #E09600;
$color-warning-disabled: rgba(250,173,20,.4);

// 文字
$color-text-main: #303133;
$color-text-normal: #606266;
$color-text-sub: #909399;
$color-text-placehoder: #C0C4CC;
$color-text-1: #303133;
$color-text-2: #606266;
$color-text-3: #909399;
$color-text-4: #c0c4cc;
$color-text-5: #ffffff;
$color-text-6: rgba(255,255,255,.4);
$color-text-7: rgba(96,98,102,.4);
$color-text-8: #5A5E66;
$color-text-9: rgba(0,0,0,0);
$color-text-10: rgba(0,0,0,1);

// 边框
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;
$color-border-5: rgba(220,223,230,.4);
$color-border-6: #F1F2F4;

// 边框线
$color-line-1: #dcdfe6;
$color-line-2: #e4e7ed;
$color-line-3: #ebeef5 ;
$color-line-4: #f2f6fc;

// 背景
$color-bg: #f8f8f9;
$color-bg-1: #f0f2f5;
$color-bg-2: #f5f7fa;
$color-bg-3: #E0ECFF;