// 主色
$color-primary: #1C9399;

// 辅助色
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #e6a23c;
$color-danger: #F56C6C;

//按钮
$color-warning-btn: #FFC041;
$color-primary-click: #007980;
$color-primary-hover: #42B7BD;
$color-warning-click: #E09600;
$color-warning-hover: #FFC041;

// 文字
$color-text-main: #303133;
$color-text-normal: #606266;
$color-text-sub: #909399;
$color-text-placehoder: #C0C4CC;
$color-text-1: #303133;
$color-text-2: #606266;
$color-text-3: #909399;
$color-text-4: #c0c4cc;

// 边框
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;

// 边框线
$color-line-1: #dcdfe6;
$color-line-2: #e4e7ed;
$color-line-3: #ebeef5 ;
$color-line-4: #f2f6fc;

// 背景
$color-bg: #f8f8f9;
$color-bg-1: #f0f2f5;
$color-bg-2: #f5f7fa;